<!--{block return}-->
<script type="text/javascript">
    function showResMod(op) {
        $('postresmodop').value = op;
        showWindow('resmod', 'resop', 'post', 0);
    }
</script>
<form style="display: none;" id="resop" method="post" action="resmod.php?action=display">
    <!-- 不知为什么，action 要保留 -->
    <input type="hidden" name="fid" value="{$fid}"/>
    <input type="hidden" name="tid" value="{$tid}"/>
    <input type="hidden" name="infohash" value="{$infohash}"/>
    <input type="hidden" name="op" id="postresmodop" value=""/>
</form>
<!--{if $_G['group']['allowdelpost']}-->
<a href="javascript:;" onclick="showResMod('delete');">删除种子</a><span class="pipe">|</span>
<!--{/if}-->
<a href="javascript:;" onclick="showResMod('coeff');">设置系数</a><span class="pipe">|</span>
<a href="javascript:;" onclick="showResMod('movethread');">移动帖子</a><span class="pipe">|</span>

<!--{eval $modopt=0;}-->
<!--{eval global $_G;}-->
<!--{if $_G['group']['allowbumpthread'] && !$_G['forum_thread']['is_archived']}--><!--{eval $modopt++;}--><a href="javascript:;" onclick="modthreads(3, 'bump')">升降主题</a><span class="pipe">|</span><!--{/if}-->
<!--{if $_G['group']['allowhighlightthread'] && !$_G['forum_thread']['is_archived']}--><!--{eval $modopt++;}--><a href="javascript:;" onclick="modthreads(1, 'highlight')">高亮</a><span class="pipe">|</span><!--{/if}-->
<!--{if $_G['group']['allowdigestthread'] && !$_G['forum_thread']['is_archived']}--><!--{eval $modopt++;}--><a href="javascript:;" onclick="modthreads(1, 'digest')">精华</a><span class="pipe">|</span><!--{/if}-->
<!--{if $_G['group']['allowstickthread'] && ($_G['forum_thread']['displayorder'] <= 3 || $_G['adminid'] == 1) && !$_G['forum_thread']['is_archived']}--><!--{eval $modopt++;}--><a href="javascript:;" onclick="modthreads(1, 'stick')">置顶</a><span class="pipe">|</span><!--{/if}-->

<!--{/block}-->
