<h3 class="flb">
    <span style="float: none; font-size: 1em; font-weight: bold;">
        天上在下猫和狗吗？
    </span>
    <span>
        <a href="javascript:;" id="fwin_dialog_close" class="flbc"
           onclick="hideWindow('{$floatwindowid}');" title="关闭">关闭
        </a>
    </span>
</h3>
<div style="margin: 0 10px 10px; font-size: 14px;">
    <span>
        遇到了一个<span style="font-weight: bold; color: red;">内部错误</span>。<br/>
        关于这个的解释，您可以看看现在天上是不是<span style="font-weight: bold;">在下猫和狗</span>。<br/>
        如果不是，建议您将这个错误反馈一下，最好写明您是如何在网页的海洋中发现它的。<br/>
        <span style="font-style: italic;">当然，如果天上确实在下猫和狗，我们不负责解释那种现象。</span>
    </span>
</div>